<div class="row mb-2">
  <div class="col-md-4 mt-2"></div>
  <div class="col-md-4 mt-2">
    <h1>Аутентификация</h1>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12 m-0 p-0">
        <div class="ui-inputgroup mb-2">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="Логин">
        </div>
      </div>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12 m-0 p-0">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="password" pInputText placeholder="Пароль">
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <button pButton type="button" label="Войти"></button>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-2"></div>
</div>

