<div class="row mt-2">
  <div class="col-md-12">
    <p-table [value]="orders" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th [ngClass]="{'th-btn':true}">ID</th>
          <th>UserID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
          <th>Created</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order?.id}}</td>
          <td>{{order?.author.id}}</td>
          <td>{{order?.name}}</td>
          <td>{{order?.description}}</td>
          <td>{{order?.price}}</td>
          <td>{{order?.status}}</td>
          <td>{{order?.created_at}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
