<div class="row mt-2">
  <div class="col-md-12">
    <p-table [value]="categories">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Hidden</th>
          <th>Nesting</th>
          <th>Created</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category>
        <tr>
          <td>{{category?.id}}</td>
          <td>{{category?.name}}</td>
          <td>{{category?.description}}</td>
          <td>{{category?.hidden}}</td>
          <td>{{category?.nesting}}</td>
          <td>{{category?.created_at}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
