<div [ngClass]="{ 'hidden' : !errors }">
  <app-validator-network [msgs]="errors"></app-validator-network>
</div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form-horizontal">
  <div class="row">
    <div class="col-md-4 mt-2">
      <p-dropdown
        formControlName="category_id"
        [options]="categories"
        [(ngModel)]="selectedCategory" optionLabel="name" editable="true" placeholder="Выберите категорию : "></p-dropdown>
    </div>
    <div class="col-md-2 mt-2">
      <span class="label-top">Видимость : </span>
      <p-inputSwitch formControlName="hidden"></p-inputSwitch>
    </div>
    <div class="col-md-6 mt-2">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 m-0 p-0">
          <app-validator-message [field]="productForm.get('name')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-arrow-circle-right"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="Название продукта" formControlName="name">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">

  </div>
  <div class="row mb-2">
    <div class="col-md-6 mt-2">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 m-0 p-0">
          <app-validator-message [field]="productForm.get('price')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-money-bill"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="Цена" formControlName="price">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-2">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 m-0 p-0">
          <app-validator-message [field]="productForm.get('code')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-shopping-cart"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="Код продукта" formControlName="code">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12 mt-2">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 m-0 p-0">
          <app-validator-message [field]="productForm.get('description')"></app-validator-message>
          <textarea (keyup)="inputChange()" rows="5" class="ui-md-12" placeholder="Введите описание категории" formControlName="description" pInputTextarea></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
      <button *ngIf="productForm.invalid" pButton type="submit" disabled label="Создать продукт"></button>
      <button *ngIf="productForm.valid" pButton type="submit" label="Создать продукт"></button>
    </div>
    <div class="col-md-8 upload-files-block">
      <p-fileUpload name="files[]" (onSelect)="handleUploader($event)" auto="auto" multiple="multiple"></p-fileUpload>
    </div>
  </div>
</form>
