<div class="row mt-2">
  <div class="col-md-12">
    <p-table [value]="products" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th [ngClass]="{'th-btn':true}">ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Code</th>
          <th>Hidden</th>
          <th>Created</th>
          <th [ngClass]="{'th-btn':true}"></th>
          <th [ngClass]="{'th-btn':true}"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product?.id}}</td>
          <td>{{product?.name}}</td>
          <td>{{product?.description}}</td>
          <td>{{product?.price}}</td>
          <td>{{product?.code}}</td>
          <td>{{product?.hidden}}</td>
          <td>{{product?.created_at}}</td>
          <td><span class="ui-inputgroup-addon"><i class="pi pi-pw pi-pencil"></i></span></td>
          <td><span class="ui-inputgroup-addon"><i class="pi pi-pw pi-ban"></i></span></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <button routerLink="/products/create" pButton type="button" label="Создать продукт"></button>
  </div>
</div>
