/* You can add global styles to this file, and also import other style files */
.label-top
  vertical-align: top
  font-family: "Open Sans", "Helvetica Neue", sans-serif
  font-size: small

.active-link
  border: 1px solid red

.min-width-600 table
  min-width: 600px

table td
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

table td:first-child
  text-align: center

table th
  white-space: nowrap
  width: 130px

.hidden
  display: none

.th-btn
  width: 60px
  text-align: center

.h1-register
  text-align: center

.username
  vertical-align: -webkit-baseline-middle
  position: relative
  top: 2px

.username > i
  color: rgba(45, 65, 69, 0.63)
  position: relative
  top: 2px
